<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Редактирование текущего пользователя</h2>
<div class="container">
    <form th:method="POST" th:action="@{/users/update}" th:object="${user}">
        <input type="hidden" th:field="*{id}" th:value="*{getId()}">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:value="*{getName()}" placeholder="Имя пользователя" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Фамилия</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}" th:value="*{getLastName()}" placeholder="Введите фамилию">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" th:field="*{email}" th:value="*{getEmail()}" placeholder="Введите email" required>
            </div>
        </div>
        <button class="btn btn-secondary" type="submit" th:text="*{getId()} ? 'Изменить'"/>
        <a type="button" th:href="@{/users/}" class="btn btn-secondary">Вернуться</a>
    </form>
</div>

</body>
</html>